@page "/"

<SidebarLayout>
    <Sidebar>
        <ThemeSwitcher/>
    </Sidebar>
    <Content>
        <div class="flex flex-col">
            <AccordionComparison/>
            <AlertComparison/>
            <UIBlocksCtaPage/>
            <CardComparison/>
            <UIBlocksFaqPage/>
            <UIBlocksFeaturesPage/>
            <UIBlocksFooterPage/>
            <UIBlocksLogosPage/>
            <UIBlocksNewsletterPage/>
            <UIBlocksHeadingPage/>
            <UIBlocksPricingPage/>
            <UIBlocksTestimonialsPage/>
        </div>
    </Content>
</SidebarLayout>
