<log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="./Logs/sambatest.log" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="'.'yyyy-MM-dd" />
        <layout type="log4net.Layout.PatternLayout">
            <!--<conversionPattern value="%d %-5level - %message  [%logger{1}:%L]%newline" />-->
            <conversionPattern value="%d %-5level - %message  [%logger{1}]%newline" />
        </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level - %message  [%logger{1}]%newline" />
        </layout>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="RollingFileAppender" />
        <appender-ref ref="Console" />
    </root>
</log4net>