<h3>AccordionDemo</h3>

<table class="table">
    <thead>
    <tr>
        <th>Radzen</th>
        <th>Daisy</th>
    </tr>
    </thead>
    <tr>
        <td class="flex flex-col align-top">
            <h3>AccordionDisableExpandCollapse</h3>
            <AccordionDisableExpandCollapse/>
            <h3>AccordionDynamicItems</h3>
            <AccordionDynamicItems/>
            <h3>AccordionMultipleExpand</h3>
            <AccordionMultipleExpand/>
            <h3>AccordionSingleExpand</h3>
            <AccordionSingleExpand/>
        </td>
        <td class="align-top">
            <AccordionPage/>
        </td>
    </tr>
</table>