<h3>AlertDemo</h3>

<table class="table">
    <thead>
    <tr>
        <th>Radzen</th>
        <th>Daisy</th>
    </tr>
    </thead>
    <tr>
        <td class="flex flex-col align-top">
            <h3>AlertConfig</h3>
            <AlertConfig/>
            <h3>AlertStylingConfig</h3>
            <AlertStylingConfig/>
        </td>
        <td class="align-top">
            <AlertSample/>
        </td>
    </tr>
</table>