<h3>ButtonComparison</h3>

<table class="table">
    <thead>
    <tr>
        <th>Radzen</th>
        <th>Daisy</th>
    </tr>
    </thead>
    <tr>
        <td class="flex flex-col align-top">
            <RadzenButtonPage/>
            <RadzenToggleButtonPage/>
        </td>
        <td class="align-top">
            <DaisyButtonPage/>
        </td>
    </tr>
</table>