<div class="flex flex-row flex-wrap gap-0.5">
    <div class="bg-base-100 p-4 border-1 rounded border-base-content"><span class="text-xs text-base-content">base-100</span></div>
    <div class="bg-base-200 p-4 border-1 rounded border-base-content"><span class="text-xs text-base-content">base-200</span></div>
    <div class="bg-base-300 p-4 border-1 rounded border-base-content"><span class="text-xs text-base-content">base-300</span></div>
    <div class="bg-primary p-4 border-1 rounded border-base-content"><span class="text-xs text-primary-content">primary</span></div>
    <div class="bg-secondary p-4 border-1 rounded border-base-content"><span class="text-xs text-secondary-content">secondary</span></div>
    <div class="bg-accent p-4 border-1 rounded border-base-content"><span class="text-xs text-accent-content">accent</span></div>
    <div class="bg-neutral p-4 border-1 rounded border-base-content"><span class="text-xs text-neutral-content">neutral</span></div>
    <div class="bg-info p-4 border-1 rounded border-base-content"><span class="text-xs text-info-content">info</span></div>
    <div class="bg-success p-4 border-1 rounded border-base-content"><span class="text-xs text-success-content">success</span></div>
    <div class="bg-warning p-4 border-1 rounded border-base-content"><span class="text-xs text-warning-content">warning</span></div>
    <div class="bg-error p-4 border-1 rounded border-base-content"><span class="text-xs text-error-content">error</span></div>
    <div class="bg-base-300">
        <div class="rounded-box border-2 border-base-content p-4 bg-base-100">
            <div class="text-xs">Radius Box</div>
            <div class="text-[0.625rem] italic">card, modal, alert</div>
        </div>
    </div>
    <div class="bg-base-300">
        <div class="rounded-field border-2 border-base-content p-4 bg-base-100">
            <div class="text-xs">Radius Field</div>
            <div class="text-[0.625rem] italic">button, input, select, tab</div>
        </div>
    </div>
    <div class="bg-base-300">
        <div class="rounded-selector border-2 border-base-content p-4 bg-base-100">
            <div class="text-xs">Radius Selector</div>
            <div class="text-[0.625rem] italic">checkbox, toggle, badge</div>
        </div>
    </div>
</div>
