<h3>DropdownComparison</h3>

<table class="table">
    <thead>
    <tr>
        <th>Radzen</th>
        <th>Daisy</th>
    </tr>
    </thead>
    <tr>
        <td class="flex flex-col align-top">
            <DropDownPage/>
            <DropDownMultiplePage/>
            <DropDownFilteringPage/>
            <DropDownGroupingPage/>
            <DropDownCustomObjectsPage/>
            <DropDownDataGridPage/>
        </td>
        <td class="align-top">
            <DaisyDropdownPage/>
        </td>
    </tr>
</table>