<h3>InputFieldComparison</h3>

<table class="table">
    <thead>
    <tr>
        <th>Radzen</th>
        <th>Daisy</th>
    </tr>
    </thead>
    <tr>
        <td class="flex flex-col align-top">
            <MaskPage/>
            <FormFieldPage/>
        </td>
        <td class="align-top">
            <InputPage/>
        </td>
    </tr>
</table>
