<h3>SliderComparison</h3>

<table class="table">
    <thead>
    <tr>
        <th>Radzen</th>
        <th>Daisy</th>
    </tr>
    </thead>
    <tr>
        <td class="flex flex-col align-top">
            <RatingPage/>
        </td>
        <td class="align-top">
            <DaisyRatingPage/>
        </td>
    </tr>
</table>