<h3>TextareaComparison</h3>

<table class="table">
    <thead>
    <tr>
        <th>Radzen</th>
        <th>Daisy</th>
    </tr>
    </thead>
    <tr>
        <td class="flex flex-col align-top">
            <TextAreaPage/>
        </td>
        <td class="align-top">
            <TextareaPage/>
        </td>
    </tr>
</table>