<div class="join join-vertical">
    @foreach (var theme in themes)
    {
        <input
            type="radio"
            name="theme-buttons"
            class="btn theme-controller join-item"
            aria-label=@theme
            value=@theme />
    }
</div>

@code
{
    private string[] themes = ["light","dark","cupcake","bumblebee","emerald","corporate","synthwave","retro","cyberpunk","valentine","halloween","garden","forest","aqua","lofi","pastel","fantasy","wireframe","black","luxury","dracula","cmyk","autumn","business","acid","lemonade","night","coffee","winter","dim","nord","sunset","caramellatte","abyss","silk"];
}
